<main class="main">
  <app-gauge
    class="gauge"
    [temperatureConfig]="temperatureConfig">
  </app-gauge>
  <div class="form-container">
    <form [formGroup]="form">
      <div class="input-container">
        <label for="minTemp">Minimum Temperature</label>
        <input type="number" name="minTemp" formControlName="minTemp">
      </div>
      <div class="input-container">
        <label for="maxTemp">Maximum Temperature</label>
        <input type="number" name="maxTemp" formControlName="maxTemp">
      </div>
      <div class="input-container">
        <label for="currentTemp">Current Temperature</label>
        <input type="number" name="currTemp" formControlName="currentTemp">
      </div>
    </form>
  </div>
</main>
